.Navbar{
    display: flex;
    justify-content: space-between;
    color:  #FF6060;
    font-size: 24px;
}
.nav-box{
    display: flex;
}
.accueil{
margin: 57px;
cursor: pointer;
}
.apropos{
    margin: 57px;
    margin-right: 100px;
    cursor: pointer;
}
.logo{
    width: 300px;
    height:145px;
    
}

@media screen and (max-width: 600px) {
    .logo{
        width: 204px;
        height: 98px;
    }
    .Navbar{
        font-size: 12px;
    }
    .nav-box{
        display: flex;
        width:60vw;
        justify-content: space-around;
    }
    .accueil{
    margin: 10px;
    display: flex;
        align-items: center;
        justify-content: center;
    text-transform: capitalize;
    }
    .apropos{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        text-transform:capitalize;
    }
}