.ove{
    width:90vw;
    height:60vh;
    margin-left: 5vw;
    border-radius: 20px;
    
}
.info-principale{
    margin-top: 40px;
    width:90vw;
    margin-left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title{
    font-size: 36px;
color: #FF6060;
}
.place{
    font-size: 18px;
    color: #FF6060;
}
.name-host{
        font-size: 18px;
        color: #FF6060;
        margin-right: 5px;
}
.name-img{
    display: flex;
    align-items: center;
}
.img-host{
    border-radius: 50%;
    width: 64px;
    height: 64px;
}

.tags{
    display: flex;
    margin-top: 20px;
    margin-bottom: 24px;

}
.tags-box{
    color: white;
    justify-content: center;
    border-radius: 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    background-color: #FF6060;
    margin-right: 10px;
    width:115px;
    height: 25px;
}


.all-collaps{
    display: flex;
    max-width:90vw;
    justify-content: space-between;
    margin-left: 5vw;
    overflow: hidden;
}
.before{
    display: none;
   


}
.active { 
    display: flex;
    flex-direction:column;
    margin-top: -10px;
    background-color: #F6F6F6;
    z-index: 1;
    width: 40vw;
   
    

}
.collaps-title{
    margin:10px
}
.btn{
    position:relative;
    z-index: 200;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    width: 40vw;
    height: 52px;
    border-radius: 10px;
    color: #FFF;
}

.equipement{
    margin:20px 10px 10px 10px;
    font-size: 18px;
    color: #FF6060;
}

.stars{
    margin: 30px;
}

.rate{
    display: flex;
    align-items: center;
}
.stars-size{
    width: 24px;
    margin: 2px;
}

/* -----------media-queries-------- */

@media screen and (max-width: 600px) {
    .info-principale{
        flex-direction: column;
    }
    .all-collaps {
     display:flex;
     flex-direction: column;
    }
    .btn{
        margin-top: 20px;
        width: 100%;
        height: 30px;
    }
    .place {
        font-size: 14px;
    }
    .collaps{
        display: flex;
        width: 100%;
       flex-direction: column;
        justify-content: center;
    }
    .tags-box{
        font-size: 10px;
        width:84px;
        height: 18px;
    }
   .name-rate{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
   }
   .active{
    width: 90vw;
   }
   .stars-size{
    width: 13px;
}
   .title{
    font-size: 18px;
   }
   .title-place{
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
   }
   .ove{
    height:255px;
}
    .name-host{
        font-size: 12px;
    }
    .img-host{
        width: 32px;
        height: 32px;
    }
    .collaps-title{
        font-size: 13px;
    }
    .equipement{
        font-size: 12px;
    }
   }
