.item-content{
    display: flex;
    flex-direction: column;

}

.item-title{
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 75vw;
    height: 5vh;
    margin-left: 12.5vw;
    margin-top: 50px;
    border-radius: 10px;
    color: #FFF;
}
.item-content {
    display: none;
}
.item-content-show{
    display: flex;
}

.btn{
    background-color: #FF6060;
}


.all-collaps{
    display: flex;
    max-width:90vw;
    justify-content: space-between;
    margin-left: 5vw;
    overflow: hidden;
}
.before{
    margin-top: -10px;
    background-color: #F6F6F6;
    padding:10px;
    z-index: 1;
    width: 40vw;
    opacity: 0;


}
.active { 
    margin-top: -10px;
    background-color: #F6F6F6;
    padding:10px;
    z-index: 1;
    width: 40vw;
  
    

}

.btn{
    position:relative;
    z-index: 200;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 40vw;
    height: 5vh;
    border-radius: 10px;
    color: #FFF;
}

.equipement{

    padding-top: 25px;
}

