.item-content{
    display: flex;
    flex-direction: column;
}

.item-title{
    position: relative;
    z-index: 200;
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
   
    height: 52px;
    border-radius: 10px;
    color: #FFF;
}
.item-content {
  display: none;
}
.item-content-show{
    display: flex;

}

.categories{
    font-size: 24px;
}
.accordeon{
    margin-left: 15vw;
    width: 70vw;
}
.content-style{
    z-index: 1;
    width: 100%;
    padding: 15px;
    padding-top: 30px;
    margin-top: 5px;
    color: #FF6060;
    background-color: #F6F6F6;
    font-size: 20px;
    margin-top: -15px;
}
@media  screen and (max-width: 800px ) {
    .categories{
        font-size: 13px;
    }
    .item-title{
        height: 10px;
    }
    .accordeon{
        width:90vw;
       margin: auto;
    }
    .item-title{
        margin-top: 20px;
    }
    .content-style{
        font-size: 12px;
    }
}